* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #333333;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.menu li a:hover,
.menu li a:focus,
.menu li a:active {
    background-color: #eaeaea;
}

.news-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.news-item {
    width: calc(33.33%);
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.news-item img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.news-item h3 {
    font-size: 18px;
    margin: 0;
}

.news-item p {
    margin: 0;
    color: #555555;
}

.news-item .read-more {
    display: inline-block;
    background-color: #555555;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
}

.news-item .read-more:hover,
.news-item .read-more:focus,
.news-item .read-more:active {
    background-color: #333333;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    margin-top: 20px;
}

.slider {
    width: 100%;
    margin-bottom: 20px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-btn-own {
    position: absolute;
    z-index: 999;
    top: calc(50% - 15px);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 100ms linear;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-btn-own:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slick-btn-own:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.slick-prev {
    left: 15px;
}

.slick-next {
    right: 15px;
}
